.tag_block {
  display: inline-block;
  float: right;
}

.details_h1 {
  display: inline-block;
  margin-top: 0;
}

.tag_list {
  list-style: none;
}

.tag_list li {
  display: inline;
}

.mdl-button {
  margin: 10px;
}

.mdl-textfield {
  display: block;
}

.mdl-layout-title {
  font-size: 3em;
  display: block;
}

h1 {
  font-size: 3em;
}