<h2>Are you sure you want to delete <%= @tip.title %>?</h2>
<form action="/tips/<%= @tip.id%>" method='post'>
<input type="hidden" name="_method" value="delete">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Delete it!</button></form>