<h1>New tip</h1>

<form action="/tips" method="post" >
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Title</label>
  <input type="text" name="title">
  <label for="">Content</label>
  <textarea name="content" ></textarea>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">Post</button>
</form>  